### 08 discretization - equal width interval

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'weight': [75,78.5,85,91,84.5,83,68]})
df

   weight
0    75.0
1    78.5
2    85.0
3    91.0
4    84.5
5    83.0
6    68.0

In [4]:
df['weight_cut'] = pd.cut(df['weight'], bins=3) # 3 intervals, type=category
df

   weight        weight_cut
0    75.0  (67.977, 75.667]
1    78.5  (75.667, 83.333]
2    85.0    (83.333, 91.0]
3    91.0    (83.333, 91.0]
4    84.5    (83.333, 91.0]
5    83.0  (75.667, 83.333]
6    68.0  (67.977, 75.667]

### 09 discretization - custom interval

In [5]:
df['weight_cut_custom'] = pd.cut(df['weight'], bins=[60,75,80,95])
# adjacent element form a interval, type=category
df

   weight        weight_cut weight_cut_custom
0    75.0  (67.977, 75.667]          (60, 75]
1    78.5  (75.667, 83.333]          (75, 80]
2    85.0    (83.333, 91.0]          (80, 95]
3    91.0    (83.333, 91.0]          (80, 95]
4    84.5    (83.333, 91.0]          (80, 95]
5    83.0  (75.667, 83.333]          (80, 95]
6    68.0  (67.977, 75.667]          (60, 75]

### 10 discretization - tag each interval

In [6]:
df['weight_cut_label'] = pd.cut(df['weight'], bins=[60,75,80,95], labels=['light','normal','heavy'])
df

   weight        weight_cut weight_cut_custom weight_cut_label
0    75.0  (67.977, 75.667]          (60, 75]            light
1    78.5  (75.667, 83.333]          (75, 80]           normal
2    85.0    (83.333, 91.0]          (80, 95]            heavy
3    91.0    (83.333, 91.0]          (80, 95]            heavy
4    84.5    (83.333, 91.0]          (80, 95]            heavy
5    83.0  (75.667, 83.333]          (80, 95]            heavy
6    68.0  (67.977, 75.667]          (60, 75]            light

### 11 discretization - dummies

In [7]:
df = df.drop(['weight_cut','weight_cut_custom'], axis=1)
df = pd.get_dummies(df)
df

,weight,weight_cut_label_light,weight_cut_label_normal,weight_cut_label_heavy
0,75.0,1,0,0
1,78.5,0,1,0
2,85.0,0,0,1
3,91.0,0,0,1
4,84.5,0,0,1
5,83.0,0,0,1
6,68.0,1,0,0