### 25 encode

In [4]:
import pandas as pd
data = {
    'size': ['XL','L','M','L','M'],
    'color': ['red','green','blue','green','red'],
    'gender': ['female','male','male','female','female'],
    'price': [199.0,89.0,99.0,129.0,79.0],
    'weight': [500,450,300,380,410],
    'bought': ['yes','no','yes','no','yes']
}
df = pd.DataFrame(data)
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['bought'] = le.fit_transform(df['bought'])
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0     500       1
1    L  green    male   89.0     450       0
2    M   blue    male   99.0     300       1
3    L  green  female  129.0     380       0
4    M    red  female   79.0     410       1

In [6]:
le.classes_

array(['no', 'yes'], dtype=object)

In [7]:
le.inverse_transform(df['bought'])

array(['yes', 'no', 'yes', 'no', 'yes'], dtype=object)

### 26 OneHot encode

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      int64
dtypes: float64(1), int64(2), object(3)
memory usage: 368.0+ bytes

In [17]:
from sklearn.preprocessing import OneHotEncoder

oh = OneHotEncoder(sparse=False) # sparse=True only return position of 1
oh.fit(df[['size']])
oh.transform(df[['size']])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [19]:
oh.categories_

[array(['L', 'M', 'XL'], dtype=object)]