### 37 polynomial variables

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(data=np.arange(10), columns=['X'])
df

   X
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [2]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2)
df_poly = poly.fit_transform(df)
df_poly

array([[ 1.,  0.,  0.],
       [ 1.,  1.,  1.],
       [ 1.,  2.,  4.],
       [ 1.,  3.,  9.],
       [ 1.,  4., 16.],
       [ 1.,  5., 25.],
       [ 1.,  6., 36.],
       [ 1.,  7., 49.],
       [ 1.,  8., 64.],
       [ 1.,  9., 81.]])

### 38 multi variables polynomial

In [4]:
df = pd.DataFrame({'x':np.arange(10),'y':np.arange(10,20)})
df

   x   y
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14
5  5  15
6  6  16
7  7  17
8  8  18
9  9  19

In [5]:
poly = PolynomialFeatures(degree=2)
df_poly = poly.fit_transform(df)
df_poly # 1, x, y, x^2, xy, y^2

array([[  1.,   0.,  10.,   0.,   0., 100.],
       [  1.,   1.,  11.,   1.,  11., 121.],
       [  1.,   2.,  12.,   4.,  24., 144.],
       [  1.,   3.,  13.,   9.,  39., 169.],
       [  1.,   4.,  14.,  16.,  56., 196.],
       [  1.,   5.,  15.,  25.,  75., 225.],
       [  1.,   6.,  16.,  36.,  96., 256.],
       [  1.,   7.,  17.,  49., 119., 289.],
       [  1.,   8.,  18.,  64., 144., 324.],
       [  1.,   9.,  19.,  81., 171., 361.]])