### 41 MAE (mean absolute error)

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('iris.csv')
df.drop(['petal_length','petal_width','species'], axis=1, inplace=True)
df.head()

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [3]:
def MAE(y, y_hat):
    return abs(y-y_hat).sum()/len(y)
mae = MAE(df['sepal_length'],df['sepal_width'])
mae

2.789333333333333

### 42 MSE (mean squared error)

In [6]:
def MSE(y, y_hat):
    return sum((y-y_hat)**2)/len(y)
mse = MSE(df['sepal_length'],df['sepal_width'])
mse

8.72626666666667

### 43 sigmoid

In [7]:
df = pd.DataFrame(data = np.random.randn(10),columns=['var1'])
df

       var1
0  0.653575
1  0.263646
2  1.656836
3 -0.390030
4  0.141132
5  0.858124
6  0.630258
7 -1.089352
8 -0.768031
9 -0.161637

In [10]:
def sigmoid(x): # return value between 0 and 1
    return 1/(1+np.exp(-x))
df['var1_sigmoid'] = df['var1'].map(sigmoid)
df

       var1  var1_sigmoid
0  0.653575      0.657816
1  0.263646      0.565532
2  1.656836      0.839813
3 -0.390030      0.403710
4  0.141132      0.535225
5  0.858124      0.702269
6  0.630258      0.652548
7 -1.089352      0.251740
8 -0.768031      0.316905
9 -0.161637      0.459679

### 44 entropy
H(x) = sum(P(xi)I(xi) = - sum(P(xi)log(P(xi)))

In [11]:
df = pd.DataFrame({'var1': np.arange(0.01,1,0.1),'var2': 1-np.arange(0.01,1,0.1)})
df

   var1  var2
0  0.01  0.99
1  0.11  0.89
2  0.21  0.79
3  0.31  0.69
4  0.41  0.59
5  0.51  0.49
6  0.61  0.39
7  0.71  0.29
8  0.81  0.19
9  0.91  0.09

In [14]:
def entropy(x):
    return -np.sum(x*np.log2(x))

df['entropy'] = df.apply(lambda x: entropy([x['var1'],x['var2']]), axis=1)
df

   var1  var2   entropy
0  0.01  0.99  0.080793
1  0.11  0.89  0.499916
2  0.21  0.79  0.741483
3  0.31  0.69  0.893173
4  0.41  0.59  0.976500
5  0.51  0.49  0.999711
6  0.61  0.39  0.964800
7  0.71  0.29  0.868721
8  0.81  0.19  0.701471
9  0.91  0.09  0.436470

### 45 accuracy_score

In [20]:
from sklearn.metrics import accuracy_score
df = pd.DataFrame({'y_true':[1,0,1,2,1,0,1,1,0,1],'y_pred':[0,0,1,2,1,0,1,0,0,1]})
df

   y_true  y_pred
0       1       0
1       0       0
2       1       1
3       2       2
4       1       1
5       0       0
6       1       1
7       1       0
8       0       0
9       1       1

In [22]:
accuracy = accuracy_score(df['y_true'],df['y_pred']) # only apply to integer
accuracy

0.8

### 46 confusion matrix

In [24]:
from sklearn.metrics import confusion_matrix
df = pd.DataFrame({'y_true':[1,0,1,2,1,0,1,1,0,1,0,1,1,0,2,1,1,2,2,1,0,1,1,0,2,1,1,2,2],
                   'y_pred':[0,0,1,2,1,0,1,0,0,1,1,0,1,0,2,1,2,1,2,1,0,2,1,0,1,1,1,2,2]})
df.head()

   y_true  y_pred
0       1       0
1       0       0
2       1       1
3       2       2
4       1       1

In [26]:
cm = confusion_matrix(df['y_true'],df['y_pred'])
cm

array([[ 6,  1,  0],
       [ 3, 10,  2],
       [ 0,  2,  5]])