### 53 CountVectorizer

In [3]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

documents = ['python is a programming language',
              'python is popular',
              'programming in python',
              'object-oriented prigramming in python']

In [7]:
vectorizer = CountVectorizer()
vectorizer.fit_transform(documents)
df = pd.DataFrame(vectorizer.fit_transform(documents).toarray(),
                  columns = vectorizer.get_feature_names_out())
df

,in,is,language,object,oriented,popular,prigramming,programming,python
0,0,1,1,0,0,0,0,1,1
1,0,1,0,0,0,1,0,0,1
2,1,0,0,0,0,0,0,1,1
3,1,0,0,1,1,0,1,0,1

### 54 set stopword

In [8]:
vectorizer = CountVectorizer(stop_words='english')
vectorizer.fit_transform(documents)
df = pd.DataFrame(vectorizer.fit_transform(documents).toarray(),
                  columns = vectorizer.get_feature_names_out())
df

   language  object  oriented  popular  prigramming  programming  python
0         1       0         0        0            0            1       1
1         0       0         0        1            0            0       1
2         0       0         0        0            0            1       1
3         0       1         1        0            1            0       1

### 55 set n-gram

In [9]:
vectorizer = CountVectorizer(stop_words='english', ngram_range=(1,2))
vectorizer.fit_transform(documents)
df = pd.DataFrame(vectorizer.fit_transform(documents).toarray(),
                  columns = vectorizer.get_feature_names_out())
df

,language,object,object oriented,oriented,oriented prigramming,popular,prigramming,prigramming python,programming,programming language,programming python,python,python popular,python programming
0,1,0,0,0,0,0,0,0,1,1,0,1,0,1
1,0,0,0,0,0,1,0,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,0,1,0,1,1,0,0
3,0,1,1,1,1,0,1,1,0,0,0,1,0,0

### 56 TF-IDF (term frequency-inverse document frequency)

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorize = TfidfVectorizer()
df = pd.DataFrame(tfidf_vectorize.fit_transform(documents).toarray(),
                  columns = tfidf_vectorize.get_feature_names_out())
df

,in,is,language,object,oriented,popular,prigramming,programming,python
0,0.000000,0.497096,0.630504,0.000000,0.000000,0.000000,0.000000,0.497096,0.329023
1,0.000000,0.572892,0.000000,0.000000,0.000000,0.726641,0.000000,0.000000,0.379192
2,0.640434,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.640434,0.423897
3,0.399540,0.000000,0.000000,0.506765,0.506765,0.000000,0.506765,0.000000,0.264451

### 57 set stopword

In [12]:
tfidf_vectorize = TfidfVectorizer(stop_words='english') # stop_words=['is','in']
df = pd.DataFrame(tfidf_vectorize.fit_transform(documents).toarray(),
                  columns = tfidf_vectorize.get_feature_names_out())
df

   language    object  oriented   popular  prigramming  programming    python
0  0.726641  0.000000  0.000000  0.000000     0.000000     0.572892  0.379192
1  0.000000  0.000000  0.000000  0.886548     0.000000     0.000000  0.462637
2  0.000000  0.000000  0.000000  0.000000     0.000000     0.833884  0.551939
3  0.000000  0.552805  0.552805  0.000000     0.552805     0.000000  0.288477