### 93 load boston data

In [3]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
raw_data = load_boston()
raw_data.data.shape

(506, 13)

In [4]:
raw_data.target.shape

(506,)

In [5]:
df = pd.DataFrame(data=np.c_[raw_data.data, raw_data.target],
                  columns=list(raw_data.feature_names)+['target'])
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

### 94 correlation

In [6]:
df.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
CRIM,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
ZN,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
INDUS,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
CHAS,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
NOX,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
RM,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
AGE,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
DIS,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
RAD,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
TAX,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
PTRATIO,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
B,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
LSTAT,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
target,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000

In [7]:
df.corr()['target'].sort_values(ascending=False)

target     1.000000
RM         0.695360
ZN         0.360445
B          0.333461
DIS        0.249929
CHAS       0.175260
AGE       -0.376955
RAD       -0.381626
CRIM      -0.388305
NOX       -0.427321
TAX       -0.468536
INDUS     -0.483725
PTRATIO   -0.507787
LSTAT     -0.737663
Name: target, dtype: float64

### 95 seperate features and target

In [8]:
data = df.copy()
target = data.pop('target')
data.shape, target.shape

((506, 13), (506,))

### 96 train data & test data

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data, target, random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((379, 13), (127, 13), (379,), (127,))

### 97 fit linear regression

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_test, y_test)

/Users/amethyst/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  warnings.warn(
/Users/amethyst/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  warnings.warn(

0.6844267283527129

### 98 prediction in test data

In [18]:
target_pred = lr.predict(x_test)
target_pred

/Users/amethyst/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  warnings.warn(

array([28.83885359, 36.00783288, 15.08324755, 25.23090886, 18.87864064,
       23.21398327, 17.5931124 , 14.30508093, 23.05438985, 20.62008346,
       24.78514683, 18.66833668, -6.9788951 , 21.83575737, 19.20898992,
       26.2868054 , 20.54379176,  5.65713224, 40.42358065, 17.64146116,
       27.32258958, 30.05056174, 11.15013704, 24.11530393, 17.89145648,
       15.79348591, 22.94743453, 14.2586068 , 22.26731194, 19.24709013,
       22.26897546, 25.24344002, 25.69165643, 17.98759507, 16.70286649,
       17.11631225, 31.19643534, 20.17835831, 23.71828436, 24.79196868,
       13.94575895, 32.00389982, 42.53869791, 17.44523722, 27.15354457,
       17.07482215, 13.89272021, 26.06440323, 20.36888769, 29.97813037,
       21.35346608, 34.32287916, 15.88498671, 26.17757739, 39.50970314,
       22.84123308, 18.95049088, 32.68913818, 25.02057949, 12.90539147,
       22.76052302, 30.53884316, 31.60797905, 15.92162168, 20.50670563,
       16.50798147, 20.50202198, 26.00723901, 30.63860954, 11.42877835,
       20.53765181, 27.56249175, 10.85162601, 15.96871769, 23.87570192,
        5.66369672, 21.47818991, 41.2820034 , 18.56559986,  9.08857252,
       20.97848452, 13.0630057 , 20.99054395,  9.34050291, 23.13686588,
       31.80106627, 19.10245917, 25.59186169, 29.14490119, 20.17571514,
       25.5962149 ,  5.20301905, 20.16835681, 15.08546746, 12.8601543 ,
       20.80904894, 24.68556943, -0.77450939, 13.33875673, 15.62703156,
       22.21755358, 24.58188737, 10.77302163, 19.50068376, 23.23450396,
       11.77388822, 18.36777924, 25.4383785 , 20.89079232, 24.08440617,
        7.3658717 , 19.16424347, 21.93734133, 27.41191713, 32.50857196,
       14.86885244, 35.05912525, 12.86075113, 20.83043572, 28.42077138,
       15.65853688, 24.67196362,  3.28420892, 23.79879617, 25.73329894,
       23.04815612, 24.73046824])

### 99 combine true and prediction value

In [19]:
combine = pd.DataFrame(np.c_[y_test, target_pred], columns=['y','y_hat'])
combine.head()

      y      y_hat
0  23.6  28.838854
1  32.4  36.007833
2  13.6  15.083248
3  22.8  25.230909
4  16.1  18.878641

In [22]:
combine['error'] = combine['y_hat'] - combine['y']
combine['abs_error'] = abs(combine['y_hat'] - combine['y'])
combine.head()

      y      y_hat     error  abs_error
0  23.6  28.838854  5.238854   5.238854
1  32.4  36.007833  3.607833   3.607833
2  13.6  15.083248  1.483248   1.483248
3  22.8  25.230909  2.430909   2.430909
4  16.1  18.878641  2.778641   2.778641

### 100 GBDT (gradient boosting regreesor)

In [23]:
from sklearn.ensemble import GradientBoostingRegressor
reg = GradientBoostingRegressor(random_state=42)
reg.fit(x_train, y_train)
reg.score(x_test, y_test)

/Users/amethyst/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  warnings.warn(
/Users/amethyst/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  warnings.warn(

0.8721047222908935

### 101 save model and load model

In [25]:
import pickle
with open('model.pkl', 'wb') as file:
    pickle.dump(reg, file)

In [26]:
with open('model.pkl', 'rb') as file:
    regressor_loaded = pickle.load(file)
regressor_loaded.predict(x_test)

/Users/amethyst/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  warnings.warn(

array([23.04052211, 30.80125144, 16.59687893, 23.98455389, 17.51775094,
       22.20424803, 18.37679613, 13.87826852, 20.69567546, 21.05630329,
       20.65800177, 18.25866334,  7.37218556, 21.70412526, 20.42411344,
       25.68150134, 19.65025197,  9.04186004, 45.87531955, 16.24352807,
       24.16750847, 25.58242866, 13.55637357, 21.63216117, 15.24383795,
       16.02780139, 21.97039232, 14.1308893 , 19.7882457 , 21.4943401 ,
       19.96374277, 23.55638271, 23.44639924, 19.94756007, 14.59751632,
       17.07294658, 33.48430381, 19.44918017, 21.13751246, 23.5933276 ,
       18.32202324, 30.25253963, 45.28348352, 20.90449728, 22.53997442,
       15.13571919, 16.28600727, 23.60866936, 18.01993116, 27.80166399,
       20.29367355, 35.77815626, 16.5197479 , 25.490704  , 47.51880799,
       21.53764501, 15.99636471, 31.79864176, 21.85748794, 18.22407593,
       22.7379009 , 34.12951603, 30.7125856 , 19.8255971 , 25.01159597,
       18.05612794, 14.58785612, 23.67111194, 28.79028621, 15.10698901,
       21.29168096, 26.46787175, 10.38756407, 20.76810568, 22.63374113,
        5.65689095, 20.52105443, 45.32080046, 12.12777804, 12.34677602,
       21.61277948, 11.8664967 , 17.79095768, 10.4715874 , 20.61979459,
       26.10759046, 15.26338321, 24.13265475, 25.09335989, 17.35813115,
       22.13602129,  9.83535921, 19.4083156 , 18.81635683, 23.46694457,
       19.69572675, 38.81046124, 10.02680396, 12.21727119, 11.48848368,
       20.54377468, 22.8120411 , 13.30665347, 20.00338522, 19.86557919,
       11.85450479, 19.55082284, 27.15203261, 20.18983546, 23.88614801,
        8.5618845 , 14.07088631, 21.85576642, 23.88628685, 33.16769561,
       13.59110845, 42.97428212, 15.53291817, 21.52483935, 23.98481851,
       19.21632547, 24.1684173 ,  6.57540415, 21.20873172, 23.44670909,
       22.9994774 , 22.4328139 ])